.zh-gl-3 img,.zh-gallery-dashboard .zh-gl-4 img{
    margin: 3% 0% 0% 2%;
    height: 90px;
}

.zh-gl-3 .img1{
    width: 20%;
    
}

.zh-gl-3 .img2{
    width: 20%;
}

.zh-gl-3 .img3{
    width: 20%;
}

.zh-gl-4 .img1{
    width: 15%;
}

.zh-gl-4 .img2{
   width: 15%;
}

.zh-gl-4 .img3{
   width: 15%;
}

.zh-gl-4 .img4{
    width: 15%;
}