.Eq-img11{
    margin: 20px 0% 0% 2%;
    height: 120px;
    width: 314px;
}
.zh-gallery-dashboard
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
}

.PAgenatGallery
{
    position: absolute;
    top: 800px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.PAgenatGallery button
{
    width: 30px;
    height: 30px;
    background-color: #dadada;
    border: 1px solid rgb(0, 0, 121);
    color: rgb(0, 0, 121);
}
.PAgenatGallery .DisActiv
{
    pointer-events: none;
    opacity: .5;
}